@import "../../../config", "../../panel", "../../../responsive";

button {
  font-size: 1rem;
  &:hover {
    background: linear-gradient(
      to right,
      rgba($primary-color, 1),
      rgba($secondary-color, 1)
    );
    color: $text-color-secondary;
    cursor: pointer;
    border-top: solid 0.5rem $text-color-disabled;
    border-left: solid 0.5rem $text-color-disabled;
    border-right: solid 0.5rem $tertiary-color;
    border-bottom: solid 0.5rem $tertiary-color;
    @include transition-ease;
  }
}
