@import "../../../config", "../../panel", "../../../responsive";

.clock {
  font-size: 1.25rem;
  width: 15rem;
  @include transition-ease;
  .time__label,
  .shel__unit {
    font-weight: 400;
    padding-right: 1.5rem;
  }
  .time__hours-minutes-seconds,
  .shel__amount {
    font-weight: 700;
  }
  .time,
  .shel {
    display: flex;
    align-items: left;
    justify-content: space-between;
  }
}
