$primary-color: #3065ff;
$secondary-color: #204eff;
$tertiary-color: #121e91;
$dark: #001245;
$text-color-primary: #fff;
$text-color-secondary: #abebff;
$text-color-disabled: #5b9bb0;

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}