<div class="big-blue-sky">
  <!-- Reinforce black background overlay. -->
  <div
    [ngClass]="{
      'big-blue-sky__main': true,
      'toggle-black-background': toggleBlackBackground
    }"
  >
    <app-title class="big-blue-sky__main--title" [text]="title"></app-title>
    <div class="menu">
      <app-menu-list
        [ngClass]="{
          'menu__menu-list': true,
          'open-menu-list': openMenuBtnClicked
        }"
      >
      </app-menu-list>
      <app-persona
        [ngClass]="{
          'menu__menu-persona': true,
          'open-menu-persona': openMenuBtnClicked
        }"
      >
      </app-persona>
      <app-location
        [ngClass]="{
          'menu__location': true,
          'open-menu-location': openMenuBtnClicked
        }"
        [location]="location"
      >
      </app-location>
      <app-clock
        [ngClass]="{
          'menu__clock': true,
          'open-menu-clock': openMenuBtnClicked
        }"
      ></app-clock>
    </div>
    <app-button
      [ngClass]="{
        'big-blue-sky__main--button': true,
        'open-menu-btn': openMenuBtnClicked
      }"
      (onClickBtn)="onClick()"
      [text]="main__btnText"
    ></app-button>
    <div
      [ngClass]="{
        'background-overlay': true,
        'open-menu': openMenuBtnClicked
      }"
    ></div>
  </div>
</div>
