<div class="persona panel">
  <div class="persona__top">
    <img
      src="../../../assets/p.png
  "
      alt="pjnalls' profile picture."
      class="persona__img"
    />
    <div class="stats">
      <h1 class="stats__name">pjnalls</h1>
      <br />
      <h2 class="stats__lv">LV <span class="lv"> 7</span></h2>
      <h2 class="stats__hp">HP <span class="hp"> 1638/ 2047</span></h2>
      <h2 class="stats__mp">MP <span class="mp"> 270/ 625</span></h2>
    </div>
  </div>
  <div class="persona__bottom">
    <p>☀️ Coding UI daily.</p>
  </div>
</div>
