@import "../../../config", "../../panel", "../../../responsive";

.menu-list {
  margin: 0;
  padding: 1rem 27.5vw 1.5rem 1rem;
  width: 0;
  display: flex;
  flex-flow: column;
  align-items: left;
  justify-content: space-between;
  white-space: break-spaces;
}
